.form-control{
	position: relative;
	height: 5vh;
	font-size: 12pt;
	border-radius: 0px 0px 0px 0px;
}
span{
	font-size: 16pt;
}
#SendTheInfo{
	border-radius: 0px 0px 0px 0px;
	font-size: 16pt;
	height: 15vh;
	width: 20vw;
}